In [1]:
import pandas as pd

In [24]:
school = pd.read_csv('school.csv',encoding='cp949')

In [25]:
school

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자
0,B000001838,서울휘경초등학교,초등학교,1959-10-10,공립,본교,운영,서울특별시 동대문구 휘경동 302-2,서울특별시 동대문구 망우로6길 48,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2019-09-10,37.585736,127.058122,2019-09-16
1,B000001839,서울동답초등학교,초등학교,1984-05-23,공립,본교,운영,서울특별시 동대문구 답십리동 2-24,서울특별시 동대문구 답십리로60길 12,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2019-09-10,37.571817,127.064205,2019-09-16
2,B000001840,서울답십리초등학교,초등학교,1962-11-29,공립,본교,운영,서울특별시 동대문구 답십리동 274,서울특별시 동대문구 전농로3길 23,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2019-09-10,37.569003,127.055423,2019-09-16
3,B000001841,서울신답초등학교,초등학교,1972-05-09,공립,본교,운영,서울특별시 동대문구 답십리동 463-13,서울특별시 동대문구 천호대로 177,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2019-09-10,37.573001,127.043399,2019-09-16
4,B000001842,서울용두초등학교,초등학교,1948-11-01,공립,본교,운영,서울특별시 동대문구 용두동 237-1,서울특별시 동대문구 천호대로13길 43,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2019-09-10,37.575743,127.028885,2019-09-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11868,B000027396,평택새빛초등학교,초등학교,2019-09-01,공립,본교,운영,경기도 평택시 칠원동 산36-34,경기도 평택시 신촌2로 33(칠원동),7530000,경기도교육청,7631000,경기도평택교육지원청,2013-11-29,2019-09-10,37.024922,127.105114,2019-09-16
11869,B000027418,마장초등학교,초등학교,1920-12-04,공립,본교,운영,경기도 이천시 마장면 오천리 19-1,경기도 이천시 마장면 오천로 130,7530000,경기도교육청,7741000,경기도이천교육지원청,2013-11-29,2019-09-10,37.246497,127.358475,2019-09-16
11870,B000027505,인천중산초등학교,초등학교,2019-03-01,공립,본교,운영,인천광역시 중구 중산동 1887-3,인천광역시 중구 두미포로 100,7310000,인천광역시교육청,7321000,인천광역시남부교육지원청,2013-11-29,2019-09-10,37.494695,126.565599,2019-09-16
11871,B000027506,인천중산중학교,중학교,2019-03-01,공립,본교,운영,인천광역시 중구 중산동 1914-2,인천광역시 중구 두미포로 189,7310000,인천광역시교육청,7321000,인천광역시남부교육지원청,2013-11-29,2019-09-10,37.498222,126.571277,2019-09-16
11872,B000027509,해누리중학교,중학교,2019-03-01,공립,본교,운영,서울특별시 송파구 가락동 479,서울특별시 송파구 송파대로37길 95,7010000,서울특별시교육청,7071000,서울특별시강동송파교육지원청,2013-11-29,2019-09-10,37.497612,127.102533,2019-09-16

In [27]:
school = school[['학교명','위도','경도','학교급구분']]

In [30]:
school.columns = ['school_name','x','y','school_type']

In [31]:
school.keys()

Index(['school_name', 'x', 'y', 'school_type'], dtype='object')

In [32]:
school['school_type'].unique()

array(['초등학교', '중학교', '고등학교'], dtype=object)

In [7]:
school.dtypes

school_name     object
x              float64
y              float64
dtype: object

In [33]:
element = school[school['school_type'].str.contains('초등학교')]
middle = school[school['school_type'].str.contains('중학교')]
high = school[school['school_type'].str.contains('고등학교')]

In [36]:
element

           school_name          x           y school_type
0             서울휘경초등학교  37.585736  127.058122        초등학교
1             서울동답초등학교  37.571817  127.064205        초등학교
2            서울답십리초등학교  37.569003  127.055423        초등학교
3             서울신답초등학교  37.573001  127.043399        초등학교
4             서울용두초등학교  37.575743  127.028885        초등학교
...                ...        ...         ...         ...
11863  세인트존스베리 아카데미 제주  33.283304  126.281408        초등학교
11867         평택서재초등학교  37.018348  127.103656        초등학교
11868         평택새빛초등학교  37.024922  127.105114        초등학교
11869           마장초등학교  37.246497  127.358475        초등학교
11870         인천중산초등학교  37.494695  126.565599        초등학교

[6278 rows x 4 columns]

In [45]:
gizun  = pd.read_csv('gizun.csv',encoding='cp949')

In [46]:
gizun = gizun[['아파트코드','좌표Y','좌표X']]

In [49]:
gizun.columns = ['apart_code','X','Y']

     apart_code          X           Y
0     A10023829  37.620171  127.033011
1     A10023858  37.548159  126.962886
2     A10023859  37.513950  126.927512
3     A10023887  37.495857  127.146583
4     A10023891  37.569139  127.050522
...         ...        ...         ...
2605  B13307002  37.555387  127.032453
2606  B13385401  37.569538  127.029465
2607  B13679401  37.609744  127.018812
2608  B15281101  37.489071  126.851147
2609  B15672601  37.537777  127.134556

[2610 rows x 3 columns]

In [ ]:
gizun

In [53]:
from haversine import haversine

In [55]:
near_elements = []
near_element_distance = []
for i in gizun.index:
    minium_distance = 100
    start = (float(gizun['X'][i]),float(gizun['Y'][i]))
    for j in element.index:
        goal =  (float(element['x'][j]),float(element['y'][j]))
        distance = haversine(start, goal,'km')
        if distance < minium_distance:
            minium_distance = distance
            near_element = element['school_name'][j]
    near_elements.append(near_element)
    near_element_distance.append(minium_distance)
gizun['가까운 초등학교'] = near_elements
gizun['초등학교까지 거리'] = near_element_distance

In [62]:
gizun

     apart_code          X           Y   가까운 초등학교  초등학교까지 거리
0     A10023829  37.620171  127.033011   서울송중초등학교   0.361849
1     A10023858  37.548159  126.962886   서울청파초등학교   0.127345
2     A10023859  37.513950  126.927512   서울신길초등학교   0.418859
3     A10023887  37.495857  127.146583   서울영풍초등학교   0.323371
4     A10023891  37.569139  127.050522  서울답십리초등학교   0.432172
...         ...        ...         ...        ...        ...
2605  B13307002  37.555387  127.032453   서울행당초등학교   0.228220
2606  B13385401  37.569538  127.029465   서울숭신초등학교   0.252977
2607  B13679401  37.609744  127.018812   서울길원초등학교   0.205521
2608  B15281101  37.489071  126.851147   서울개웅초등학교   0.111526
2609  B15672601  37.537777  127.134556   서울천동초등학교   0.409981

[2610 rows x 5 columns]

In [61]:
gizun.pop('near_elemnts')

0         0.361849
1         0.127345
2         0.418859
3         0.323371
4         0.432172
           ...
2605    100.000000
2606    100.000000
2607    100.000000
2608    100.000000
2609    100.000000
Name: near_elemnts, Length: 2610, dtype: float64

In [63]:
near_middles = []
near_middle_distance = []
for i in gizun.index:
    minium_distance = 100
    start = (float(gizun['X'][i]),float(gizun['Y'][i]))
    for j in middle.index:
        goal =  (float(middle['x'][j]),float(middle['y'][j]))
        distance = haversine(start, goal,'km')
        if distance < minium_distance:
            minium_distance = distance
            near_middle = middle['school_name'][j]
    near_middles.append(near_middle)
    near_middle_distance.append(minium_distance)
gizun['가까운 중학교'] = near_middles
gizun['중학교까지 거리'] = near_middle_distance

In [64]:
near_highs = []
near_high_distance = []
for i in gizun.index:
    minium_distance = 100
    start = (float(gizun['X'][i]),float(gizun['Y'][i]))
    for j in high.index:
        goal =  (float(high['x'][j]),float(high['y'][j]))
        distance = haversine(start, goal,'km')
        if distance < minium_distance:
            minium_distance = distance
            near_high = high['school_name'][j]
    near_highs.append(near_high)
    near_high_distance.append(minium_distance)
gizun['가까운 고등학교'] = near_highs
gizun['고등학교까지 거리'] = near_high_distance

In [65]:
gizun

,apart_code,X,Y,가까운 초등학교,초등학교까지 거리,가까운 중학교,중학교까지 거리,가까운 고등학교,고등학교까지 거리
0,A10023829,37.620171,127.033011,서울송중초등학교,0.361849,성암여자중학교,0.757172,성암국제무역고등학교,0.754787
1,A10023858,37.548159,126.962886,서울청파초등학교,0.127345,배문중학교,0.215405,배문고등학교,0.223326
2,A10023859,37.513950,126.927512,서울신길초등학교,0.418859,윤중중학교,0.652291,숭의여자고등학교,0.751892
3,A10023887,37.495857,127.146583,서울영풍초등학교,0.323371,보인중학교,0.697751,송파공업고등학교,0.587135
4,A10023891,37.569139,127.050522,서울답십리초등학교,0.432172,동대문중학교,0.586452,한양대학교사범대학부속고등학교,1.080000
...,...,...,...,...,...,...,...,...,...
2605,B13307002,37.555387,127.032453,서울행당초등학교,0.228220,무학중학교,0.258838,무학여자고등학교,0.183818
2606,B13385401,37.569538,127.029465,서울숭신초등학교,0.252977,대광중학교,1.015514,도선고등학교,0.381064
2607,B13679401,37.609744,127.018812,서울길원초등학교,0.205521,길음중학교,0.471987,계성고등학교,0.285695
2608,B15281101,37.489071,126.851147,서울개웅초등학교,0.111526,개웅중학교,0.195486,덕일전자공업고등학교,1.249862
2609,B15672601,37.537777,127.134556,서울천동초등학교,0.409981,동신중학교,0.153698,둔촌고등학교,1.128599

In [66]:
gizun.to_csv('아파트코드기준 가까운 학교(초중고분리).csv')